<!-- 分类列表 -->
<div class="panel panel-default categories">
    <div class="panel-heading title">
        友情链接
    </div>
    <div class="panel-body list">
        <ul>
          <li>
              <a class="catelink" href="http://www.bugDone.com">
                  陌客技术问答社区-BugDone
              </a>
          </li>
          <li>
              <a class="catelink" href="http://blog.csdn.net/jackfrued">
                  骆昊的技术专栏
              </a>
          </li>
        </ul>
    </div>
</div>
